@model IList<SurveyResultVM>
@{
    ViewData["Title"] = "GetSurveyResults";
}

<h2 class="title">Survey Results</h2>

@foreach(SurveyResultVM vm in Model)
{
    <h2><img class="smallIMG" src="~/images/@(vm.ParkCode).jpg" /> @vm.ParkName - @vm.CountOfSurveys surveys</h2>
}