@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}
    <section>
        <img class="headImg" src="~/images/nps/@(NumberGen.GetRandom()).jpg" />
        <h1 class="title">National Park System</h1>

        <hr />
        @foreach (Park park in Model)
        {

            <div class="row">
                <div class="column left">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode"><img class="homeIMG" src="~/images/@(park.ParkCode).jpg" /></a>
                </div>
                <div class="column right">
                    <h3 class="parkName"><a asp-controller="Home" asp-action="Detail" asp-route-id="@park.ParkCode">@park.ParkName.</a></h3>
                    <h4>@park.ParkDescription</h4>
                </div>
            </div>

        }
    </section>